.profile-info {
  display: flex;
  flex-direction: row;
  gap: 12px;
  height: 45px;
}

.profile-info__text {
  display: flex;
  flex-direction: column;
  gap: 1px;
  justify-content: center;
}

#profile-info__name {
  color: var(--text);
  font-weight: 500;
  font-size: 16px;
}

#profile-info__status {
  color: var(--gray-secondary);
  font-size: 14px;
}
