.main-page-block {
  max-width: 1280px;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.left-panel {
  width: 320px;
  height: 1085px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.right-panel {
  width: 908px;
  height: 1085px;

}

@media (max-width: 1049px) {
  .left-panel {
    display: none;
  }
}
