.search {
  width: 160px;
  height: 40px;
  background: #2B3036;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search__left {
  width: 40px;
  color: var(--gray-secondary);
}
.search__left i {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search__right {
  width: 120px;
  padding-right: 8px;
}

.search-input {
  background: rgba(43, 48, 54, 0);
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  font-family: "Be Vietnam Pro", sans-serif;
  color: var(--gray-secondary);
}
