<div class="post" *ngFor="let post of posts;">
  <div class="post__left">
    <div class="post-info">
      <app-profile-photo [link]="post.authorPhoto" [photo]="post.authorPhoto">
      </app-profile-photo>
      <div>
        <p class="author">{{ post.author }}</p>
        <p class="date">{{ post.time }}</p>
      </div>
    </div>
  </div>
  <div class="post__lower">
    <p class="post-text">
      {{ post.text }}
    </p>
    <img class="post-image" src="{{post.photo}}" alt="">
  </div>
  <div (click)="likedPost(post.id - 1)" class="like-block">
    <i class="fa-regular fa-heart" [class.liked]="post.liked"></i>
    {{ post.likes }}
  </div>
</div>

