/* reset.scss */

/* Обнуляем отступы, поля, размеры, шрифты и пр. */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  list-style: none;
  outline: none;
}

/* Дополнительно обнуляем некоторые теги */
html, body {
  height: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: Arial, sans-serif; /* или любая базовая */
  color: #000;
  background: #fff;
}

article, aside, details, figcaption, figure,
footer, header, main, menu, nav, section, summary {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background: transparent;
  border: none;
  outline: none;
  appearance: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/* Можно добавить стили для списков */
ul, ol {
  list-style: none;
}
