<div class="header">
    <div class="header__left">
        <div>
            <app-logo-image></app-logo-image>
        </div>
        <app-navigation>

        </app-navigation>
    </div>
    <div class="header__right">
        <div class="search">
            <app-search [searchTitle]="'Search'">

            </app-search>
        </div>
        <div class="button-block">
            <button class="notifications">
                <i class="fa-regular fa-bell"></i>
            </button>
            <button class="night-mode" (click)="changeTheme()">
                <i class="fa-regular fa-moon"></i>
            </button>
        </div>
        <div>
            <app-profile-photo></app-profile-photo>
        </div>
    </div>
</div>
